.titulo
{
	background-color: white;
	vertical-align: middle;
	font-weight:bold;
	font-family:Tahoma;
	font-size: 32px;
	color:#000000;
}
.tituloBienvenida
{
	padding-left:10px;
	padding-right:10px;
	height:20px;
	border-bottom:solid 0px #000000;		
	border-top:solid 0px #000000;
	background-color: #E60000;
	vertical-align:middle;
	font-family:Tahoma;
	font-size:12px;
	font-weight:bold;
	color: #FFFFFF;	
}
.tituloPagina
{
	background-color:#e9e9e9;
	vertical-align: middle;
	font-weight:bold;
	font-family:Tahoma;
	font-size: 14px;
	color:#003366;
}
.Mensaje
{
	background-color:#FFFFFF;
	vertical-align: middle;
	font-weight:bold;
	font-family:Tahoma;
	font-size: 14px;
	color:#003366;
}
.label
{
	background-color: white;
	vertical-align: middle;
	font-weight:bold;
	font-family:Tahoma;
	font-size: 12px;
	color:#000000;
}
.readOnly
{
	background-color:#CCCCCC;
	font-family:Tahoma;
	font-size: 12px;
}
.textBox
{
	background-color:White;
	font-family:Tahoma;
	font-size: 12px;
}
.Center
{
	height:90%;
	width:98%;
	position:absolute;
	background:#FFFFFF;
	opacity:0.6;
	filter:alpha(opacity=60);
}

.x-form-readonly input.x-form-field
{
    background-color: #E6E6E6;
    background-image: none;
    background: #E6E6E6;
    color: Gray;
}
        
.readonly-class input, .readonly-class textarea {
    background-color: #E6E6E6;
    background-image: none;
    background: #E6E6E6;
    color: Gray;
}